/*去除地图的作者和百度标记 */
.BMap_cpyCtrl {
	display: none;
}

.anchorBL {
	display: none;
}
/*<<<修改栅格边距*/
.row {
	margin-left: -5px;
	margin-right: -5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
	.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
	.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
	.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
}
/*>>>修改栅格边距*/

/*<<<复用样式*/
.zw-bg-blue {
	background-color: rgb(88, 142, 188) !important;
}

.zw-bg-red {
	background-color: rgb(266, 92, 93) !important;
}

.zw-bg-green {
	background-color: rgb(66, 182, 173) !important;
}

.zw-bg-purple {
	background-color: rgb(134, 118, 167) !important;
}

.zw-bg-white {
	background-color: rgb(255, 255, 255) !important;
}

.zw-bg-orange {
	background-color: rgb(244, 156, 16) !important;
}

.a-bg-blue {
	background-color: rgba(88, 142, 188, 0.5) !important
}

.line-height-box-header {
	line-height: 34px;
}

.text-white {
	color: white;
}

.text-white:hover {
	color: white;
}
/*>>>复用样式*/

/*<<<页面顶部总览和跳转*/
.fixed-menu {
	position: fixed;
	top: 50px;
	border-bottom: 1px solid rgb(34, 45, 50);
	width: 100%;
	height: 44px;
	line-height: 44px;
	z-index: 900;
	overflow: hidden;
	font-size: 18px;
	background-color: rgb(236,240,245);
}

.fixed-menu .menu {
	display: inline-block;
	padding: 0 25px;
	cursor: pointer;
	color: rgb(34, 45, 50);
}

.fixed-menu .active {
	background-color: rgb(30, 40, 44);
	color: rgb(255, 255, 255);
}
.for-fixed-top{
	margin-top: 45px;
}
.top-total .small-box .inner p {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	padding-left: 80px;
}

.top-total .top-total-carcount {
	background-image: url(../image/car.png);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position-x: 10px;
	background-position-y: 0;
}

.top-total .top-total-crosscount {
	background-image: url(../image/cross.png);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position-x: 10px;
	background-position-y: 0;
}

.top-total .top-total-daycarcount {
	background-image: url(../image/day.png);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position-x: 10px;
	background-position-y: 0;
}

.top-total .top-total-yesterdaycarcount {
	background-image: url(../image/yesterday.png);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position-x: 10px;
	background-position-y: 0;
}
/*>>>页面顶部总览和跳转*/

/*<<<重点关注css*/
#map-tab {
	width: 100%;
	height: 100%;
}

#map-tab .tab-title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

#map-tab .tab-title>a {
	display: block;
	width: 33.33%;
	float: left;
}

#map-tab .tab-content {
	display: none;
	width: 100%;
	margin-top: 20px;
}

#map-tab .tab-content.active {
	display: block;
}

.content-tip {
	height: 40px;
	line-height: 40px;
	width: 100%;
	border-bottom: 1px solid #000000;
	margin-bottom: 10px;
}

.content-tip>h1 {
	margin: 0;
	font-size: 14px;
	display: inline-block;
	margin-left: 35px;
	height: 40px;
	line-height: 40px;
	background-color: #000000;
	color: #ffffff;
	padding: 0 15px;
}

.weather-wrapper .time {
	float: left;
	font-size: 40px;
}

.weather-wrapper .weather-text {
	float: right;
	background: url("../image/line-icon.png") no-repeat right;
	background-size: contain;
	padding-right: 15px;
    margin-right: 5px;
	text-align: center;
}

.weather-wrapper .weather-text>h3 {
	margin: 0;
	font-size: 26px;
}

.weather-wrapper .weather-text>p {
	margin-bottom: 0;
	font-size: 16px;
}

.weather-wrapper .weather-icon {
	float: right;
}

.weather-wrapper .weather-icon .weather-tip {
	text-align: center;
	margin-top: 4px;
}

.police-icon {
	display: inline-block;
	width: 8px;
	height: 20px;
	background: url("../image/police-icon.png") no-repeat center;
	background-size: contain;
	margin-right: 5px;
}
/*>>>重点关注css*/

/*<<<行为分析css*/
.content-wrapper .summary {
	height: 350px;
}

.content-wrapper .summary #car-type {
	height: 240px;
}

.content-wrapper .summary #geographical-distribution, .content-wrapper .summary #data-summary-bar
	{
	height: 345px;
}

.search-content #behavior-analysis-heatmap {
	height: 450px;
}

.search-content #behavior-analysis-sub1, .search-content #behavior-analysis-sub2,
	.search-content #behavior-analysis-sub3, .search-content #behavior-analysis-sub4
	{
	height: 400px;
}

.search-content .white-head {
	border-top-color: #ffffff;
}

.search-content .box {
	margin-bottom: 10px;
}

.search-content .box .nav-tabs-custom {
	margin-bottom: 10px;
}
/*>>>行为分析css*/

/*<<<OD分析*/
.od-analysis .od-car-list-table-box {
	max-height: 350px;
	overflow: auto;
}

.od-analysis table>tbody>tr:hover {
	cursor: pointer;
}

.od-analysis #search-od-car {
	cursor: pointer;
}

.od-analysis .od-car-detailed-table-box {
	overflow: auto;
}
/*>>>OD分析*/

/* 高频分析 */
.frequency .nav-tabs-custom>.nav-tabs>li {
	border-top-width: 0;
}

.frequency .nav-tabs-custom>.nav-tabs>li.active>a, .frequency .nav-tabs-custom>.nav-tabs>li.active:hover>a
	{
	border-top-color: #5bb4d9;
	background: #5bb4d9;
	color: #fff;
}

.frequency	.nav-tabs-custom {
	margin-bottom: 0px;
	/*  background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px; */
}

.frequency .nav-tabs-custom>.nav-tabs {
	border-bottom-color: #000000;
}

.frequency .nav-tabs {
	border-bottom: 1px solid #ddd;
}

.frequency .frequenecy-box {
	border-radius: 5px;
	box-shadow: 0 0 10px #ddd;
	/* background:#5bb4d9; */
	padding: 20px;
	margin-bottom: 10px;
}

.frequency .frequenecy-box .img-box {
	width: 20%;
	height: 50%;
	display: inline-block;
	/* margin-left:10%;
	margin-top:10%; */
}

.frequency .frequenecy-box .img-box img {
	width: 100%;
}

.frequency .frequenecy-box .text-box {
	width: 75%;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	text-align: center;
}

.frequency .frequenecy-box .text-box .text {
	font-size: 18px;
}

.frequency .frequenecy-box .text-box .sum {
	font-size: 34px;
}

.frequency #warnning-total {
	background: #5bb4d9;
}

.frequency #increasing {
	background: #4fc3b9;
}

.frequency #compare {
	background: #f47564;
}

.frequency #warnning-times {
	background: #f39c12;
}

.frequency #alert-type-analysis, .frequency #serious-illegal-analysis,
	.frequency #high-frequency-bayonet-analysis {
	height: 270px;
}

.frequency .box {
	border-radius: 0px;
}

.frequency  #high-warning .table td, .frequency  #high-warning .table th
	{
	text-align: center;
}

.frequency  #high-warning .index {
	color: #3a8cbb;
}

.frequency  #high-warning .direction span {
	padding: 3px;
	background: #4fc3b9;
	color: #fff;
}
/* 高频分析  end  */
/*智能辅助 决策辅助*/
.outer-economics-title {
	height: 65px;
	line-height: 65px;
	text-align: center;
	font-size: 26px;
}

.region-explain {
	padding-top: 100px;
}

.region-explain .title {
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.region-explain .data-list {
	list-style-type: none;
	padding: 0;
	font-size: 0;
}

.region-explain .data-list>li {
	font-size: 14px;
	display: inline-block;
	width: 9%;
}
/*智能辅助 决策辅助*/

/*执法辅助*/
.content-tab {
	width: 1000%;
	height: 50px;
	border-bottom: 1px solid #333333;
	font-size: 0;
	padding-left: 60px;
	line-height: 50px;
}

.content-tab .item {
	font-size: 18px;
	display: inline-block;
	padding: 0 25px;
	cursor: pointer;
}

.content-tab .item>a {
	display: block;
	color: #333;
}

.content-tab .item.active {
	background-color: #333333;
	color: #ffffff;
}

.content-tab .item.active>a {
	color: #ffffff;
}
/*执法辅助*/

/*<<<限外满屏*/
.limit-fullpage {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(#000020, #3060A0);
	color: #FFFFFF;
	font-size: 24px;
	overflow: hidden;
}

@media screen and (max-width:1600px) {
	.limit-fullpage {
		font-size: 16px;
	}
}

.limit-fullpage #title {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 2em;
	text-align: center;
	font-size: 2em;
	line-height: 2em;
	z-index: 2;
}

.limit-fullpage #time {
	position: absolute;
	top: 4em;
	left: 0%;
	width: 100%;
	height: 1em;
	text-align: center;
	font-size: 1em;
	line-height: 1em;
	z-index: 2;
}

.limit-fullpage #time .fa-mail-reply {
	cursor: pointer;
	color: #FFFFFF;
	font-size: 0.75em;
	line-height: 1em;
}
.limit-fullpage #total {
	position: absolute;
	top: 10%;
	left: 1%;
	width: 29%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #total #totalnumber{
	width: 100%;
	height: 90%;
	margin-top: 5%;
}


.limit-fullpage #nonlocalratio {
	position: absolute;
	top: 70%;
	left: 1%;
	width: 12%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #nonlocalown {
	position: absolute;
	top: 70%;
	left: 14%;
	width: 16%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #crowdload {
	position: absolute;
	top: 40%;
	left: 1%;
	width: 29%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #quota {
	position: absolute;
	top: 70%;
	left: 61%;
	width: 38%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #quota #quota-title {
	font-size: 20px;
	font-weight: bolder;
	font-family: '微软雅黑';
	text-align: center;
	width: 100%;
	height: 20%;
	text-align: center;
}

.limit-fullpage #quota #quota-day {
	display: inline-block;
	margin-left: 5%;
	margin-top: 5%;
	width: 45%;
	height: 90%;
}

.limit-fullpage #quota #quota-night {
	display: inline-block;
	margin-top: 5%;
	width: 45%;
	height: 90%;
}

.limit-fullpage #voice {
	position: absolute;
	top: 70%;
	left: 31%;
	width: 29%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #voice #voice-title {
	font-size: 20px;
	font-weight: bolder;
	font-family: '微软雅黑';
	text-align: center;
	width: 100%;
	height: 15%;
	text-align: center;
}

.limit-fullpage #voice #voice-head {
	width: 100%;
	height: 15%;
}

.limit-fullpage #voice #voice-head>span {
	display: inline-block;
	text-align: center;
}

.limit-fullpage #voice #voice-head>span:nth-child(1) {
	width: 20%;
}

.limit-fullpage #voice #voice-head>span:nth-child(2) {
	width: 50%;
}

.limit-fullpage #voice #voice-head>span:nth-child(3) {
	width: 25%;
}

.limit-fullpage #voice #voice-body {
	width: 100%;
	height: 70%;
}

.limit-fullpage #voice #voice-body>ul {
	list-style: none;
	padding: 0;
	height: 100%;
}

.limit-fullpage #voice #voice-body>ul>li {
	width: 100%;
	height: 20%;
	line-height: 20%;
	font-size: 0.75em;
	overflow: hidden;
}

.limit-fullpage #voice #voice-body>ul>li>span {
	display: inline-block;
	text-align: center;
}

.limit-fullpage #voice #voice-body>ul>li>span:nth-child(1) {
	width: 20%;
}

.limit-fullpage #voice #voice-body>ul>li>span:nth-child(2) {
	width: 50%;
}

.limit-fullpage #voice #voice-body>ul>li>span:nth-child(3) {
	width: 25%;
}

.limit-fullpage #voice #voice-body .hot>span {
	margin-left: 5px;
}

.limit-fullpage #voice .ion-flame {
	color: rgb(244, 116, 100);
}

.limit-fullpage #police {
	position: absolute;
	top: 70%;
	left: 61%;
	right: 1%;
	width: 38%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
	overflow: hidden;
}

.limit-fullpage #police #police-title {
	font-size: 20px;
	font-weight: bolder;
	font-family: '微软雅黑';
	text-align: center;
	width: 100%;
	height: 15%;
}

.limit-fullpage #police #police-head {
	width: 100%;
	height: 15%;
}

.limit-fullpage #police #police-head>span {
	display: inline-block;
	text-align: center;
}

.limit-fullpage #police #police-head>span:nth-child(1) {
	width: 40%;
}

.limit-fullpage #police #police-head>span:nth-child(2) {
	width: 35%;
}

.limit-fullpage #police #police-head>span:nth-child(3) {
	width: 20%;
}

.limit-fullpage #police #police-body {
	width: 100%;
	height: 70%;
}

.limit-fullpage #police #police-body>ul {
	list-style: none;
	padding: 0;
	height: 100%;
}

.limit-fullpage #police #police-body>ul>li {
	width: 100%;
	height: 20%;
	line-height: 20%;
	font-size: 0.75em;
	overflow: hidden;
}

.limit-fullpage #police #police-body>ul>li>span {
	display: inline-block;
	text-align: center;
}

.limit-fullpage #police #police-body>ul>li>span:nth-child(1) {
	width: 40%;
}

.limit-fullpage #police #police-body>ul>li>span:nth-child(2) {
	width: 35%;
}

.limit-fullpage #police #police-body>ul>li>span:nth-child(3) {
	width: 20%;
}

.limit-fullpage #warning {
	position: absolute;
	top: 70%;
	left: 61%;
	right: 1%;
	width: 38%;
	height: 28%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
	overflow: hidden;
}

.limit-fullpage #warning #warning-title {
	font-size: 20px;
	font-weight: bolder;
	font-family: '微软雅黑';
	text-align: center;
	width: 100%;
	height: 15%;
}

.limit-fullpage #warning #warning-head {
	width: 100%;
	height: 15%;
}

.limit-fullpage #warning #warning-head>span {
	display: inline-block;
	text-align: center;
}

.limit-fullpage #warning #warning-head>span:nth-child(1) {
	width: 5%;
}

.limit-fullpage #warning #warning-head>span:nth-child(2) {
	width: 20%;
}

.limit-fullpage #warning #warning-head>span:nth-child(3) {
	width: 20%;
}

.limit-fullpage #warning #warning-head>span:nth-child(4) {
	width: 30%;
}

.limit-fullpage #warning #warning-head>span:nth-child(5) {
	width: 20%;
}

.limit-fullpage #warning #warning-body {
	width: 100%;
	height: 70%;
}

.limit-fullpage #warning #warning-body>ul {
	list-style: none;
	padding: 0;
	height: 100%;
}

.limit-fullpage #warning #warning-body>ul>li {
	width: 100%;
	height: 20%;
	line-height: 20%;
}

.limit-fullpage #warning #warning-body>ul>li>span {
	display: inline-block;
	text-align: center;
}

.limit-fullpage #warning #warning-body>ul>li>span:nth-child(1) {
	width: 5%;
}

.limit-fullpage #warning #warning-body>ul>li>span:nth-child(2) {
	width: 20%;
}

.limit-fullpage #warning #warning-body>ul>li>span:nth-child(3) {
	width: 20%;
}

.limit-fullpage #warning #warning-body>ul>li>span:nth-child(4) {
	width: 30%;
}

.limit-fullpage #warning #warning-body>ul>li>span:nth-child(5) {
	width: 20%;
}

.limit-fullpage #warning .fa-star {
	color: rgb(244, 156, 16);
}

.limit-fullpage #crowdtime {
	position: absolute;
	top: 10%;
	left: 71%;
	right: 1%;
	width: 28%;
	height: 58%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #msg {
	position: absolute;
	top: 10%;
	left: 61%;
	width: 9%;
	height: 58%;
	z-index: 2;
	background: rgba(40, 40, 140, 0.2) !important;
	box-shadow: 10px 10px 40px rgba(24, 48, 96, 0.8);
}

.limit-fullpage #msg-pie1 {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 50%;
	z-index: 2;
}

.limit-fullpage #msg-pie2 {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	height: 50%;
	z-index: 2;
}

.limit-fullpage #map {
	position: absolute;
	top: 80%;
	left: 20%;
	width: 50%;
	height: 90%;
	z-index: 1;
}

.limit-fullpage #bg-earth {
	position: absolute;
	top: 80%;
	left: 0%;
	width: 100%;
	height: 20%;
	background: url(../image/bg-earth.png) no-repeat;
	background-size: 100% 100%;
	z-index: 1;
}

.limit-fullpage #bg-moon {
	position: absolute;
	top: 0%;
	left: 30%;
	width: 40%;
	height: 15%;
	background: url(../image/bg-moon.png) no-repeat;
	background-size: 100% 100%;
	z-index: 0;
}

.limit-fullpage #tpl {
	position: absolute;
	top:;
	left:;
	width:;
	height:;
	z-index: 2;
}
/*>>>限外满屏*/
/*<<<执行支撑*/
.implementation-management #btn-area .icon-word-box{
	width: 180px;
	height: 90px;
	margin: 20px auto;
}
.implementation-management #btn-area .icon-word-box .icon-box{
	width: 88px;
	height: 88px;
	background-repeat:no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	float: left;
}
.implementation-management #btn-area .icon-word-box .word-box{
	margin-top: 26px;
	color: #FFFFFF;
	display: inline-block;
	float: right;
}
/*>>>执行支撑*/

/*<<<行为分析*/
.behavior-analysis .tab-head {
	width: 100%;
	height: 44px;
	margin: 0;
	border-bottom: 1px solid rgb(34, 45, 50);
}

.behavior-analysis .tab-head .menu {
	font-size: 18px;
	line-height: 44px;
	display: inline-block;
	padding: 0 25px;
	cursor: pointer;
	color: rgb(34, 45, 50);
}

.behavior-analysis .tab-head .active {
	background-color: rgb(30, 40, 44);
	color: rgb(255, 255, 255);
}

.behavior-analysis .search-datarange {
	height: 34px;
	width: 300px;
	outline: none;
	padding: 6px;
	border: none;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background-color: rgb(0, 192, 239);
	background-image: url(../image/date.png);
	background-repeat: no-repeat;
	background-position: 260px 1px;
	background-size: 30px 30px;
}

.behavior-analysis .search-datarange:hover {
	background-color: rgb(0, 172, 214);
}

.behavior-analysis #total-search-daterange {
	margin-right: 32px;
}

.behavior-analysis #car-search-daterange {
	margin-right: 32px;
}

.behavior-analysis #car-search-plateno {
	height: 34px;
	width: 300px;
	outline: none;
	padding: 6px;
	border: none;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background-color: rgb(0, 192, 239);
	background-image: url(../image/car.png);
	background-repeat: no-repeat;
	background-position: 260px 1px;
	background-size: 30px 30px;
	margin-right: 32px;
}

.behavior-analysis #car-search-plateno:hover {
	background-color: rgb(0, 172, 214);
}

.behavior-analysis #tip-car-day {
	background-image: url(../image/tip-day.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.behavior-analysis #cars-search-plateno {
	height: 34px;
	width: 300px;
	outline: none;
	padding: 6px;
	border: none;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background-color: rgb(0, 192, 239);
	background-image: url(../image/car.png);
	background-repeat: no-repeat;
	background-position: 260px 1px;
	background-size: 30px 30px;
}

.behavior-analysis #cars-search-plateno:hover {
	background-color: rgb(0, 172, 214);
}

.behavior-analysis .cars-list {
	width: 120px;
	margin-right: 8px;
	margin-top: 8px;
	text-align: left;
	background-image: url(../image/car.png);
	background-repeat: no-repeat;
	background-position: 80px 1px;
	background-size: 30px 30px;
}

.behavior-analysis .cars-list:hover {
	background-image: url(../image/delete.png);
}

.behavior-analysis #cars-search-daterange {
	margin-right: 32px;
}

.behavior-analysis #cars-search-plateno {
	margin-right: 32px;
}

.behavior-analysis #cars-add {
	margin-right: 16px;
}

/*>>>行为分析*/
/*<<<情报分析*/
#search-crosslist ul{
	height: 230px; overflow: auto;
}
#search-crosslist ul>li{
	font-size:14px;
	line-height: 28px;
	padding-left: 12px;
	cursor: pointer;
}
#search-crosslist ul>li:hover{
	color:#999999;
	text-decoration:line-through;
}

.module-title p {
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	color: FFFFFF;
	cursor: pointer;
}

#tagscloud {
	width: 100%;
	height: 400px;
	position: relative;
	font-size: 12px;
	color: #333;
	text-align: center;
}

#tagscloud a {
	position: absolute;
	top: 0px;
	left: 0px;
	color: #FFF;
	font-family: Arial;
	text-decoration: none;
	margin: 0 10px 15px 0;
	text-align: center;
	font-size: 12px;
	padding: 5px 5px;
	display: inline-block;
	border-radius: 5px;
}
#tagscloud .tagc1 {
	background: rgb(92,180,218);
	font-size:28px;
}

#tagscloud .tagc2 {
	background: rgb(244,156,16);
	font-size:24px;
}

#tagscloud .tagc3 {
	background: rgb(244,116,100);
	font-size:20px;
}
#tagscloud .tagc4 {
	background: rgb(80,196,186);
	font-size:16px;
}
#tagscloud .tagc5 {
	background: rgb(134,118,168);
	font-size:12px;
}
#tagscloud :hover {
	cursor: pointer;
	background: #0099ff;
}
/*>>>情报分析*/