<!doctype html>
<html>
<head th:include="@{include/head}" th:with="title=''">
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
	<div class="wrapper">
		<header th:include="@{include/header}" class="main-header"></header>
		<aside th:include="@{include/aside}" class="main-sidebar"></aside>
		<div class="content-wrapper">
			<section class="content-tab">
				<div class="item">
					<a th:href="outer-limit-monitoring">实时监控</a>
				</div>
				<div class="item active">
					<a th:href="outer-limit-economics">经济情况</a>
				</div>
				<div class="item">
					<a th:href="outer-limit-sociology">社会治安</a>
				</div>
				<div class="item">
					<a th:href="outer-limit-environmental">环境情况</a>
				</div>
			</section>
			<section class="content">
				<form class="form-group"
					style="background-color: #ffffff; padding: 20px;">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control">
									<option>限外规则选取</option>
									<option>不能连续行驶2日</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control">
									<option>限牌来源选取</option>
									<option>佛山</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<select class="form-control">
									<option>限牌区域选取</option>
									<option>五山路</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<button type="submit" class="btn btn-primary">查询</button>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-md-12">
						<div class="outer-economics-title  bg-green">经济情况分析</div>
					</div>
					<div class="col-md-7">
						<div class="box box-solid">
							<div class="box-header with-border">
								<div class="box-title">区域经济变化</div>
								<div class="box-body">
									<div class="row">
										<div class="col-md-7">
											<div id="regionECharts" style="height: 590px;"></div>
										</div>
										<div class="col-md-5">
											<div class="region-explain">
												<div class="title">平均：615710 亿</div>
												<!-- <div class="row">
													<div
														class="col-md-9 col-xs-9 col-sm-9 col-lg-9 col-md-offset-3 col-lg-offset-3 col-sm-offset-3 col-xs-offset-3">
														<ul class="data-list">
															<li>0</li>
															<li>10</li>
															<li>20</li>
															<li>30</li>
															<li>40</li>
															<li>50</li>
															<li>60</li>
															<li>70</li>
															<li>80</li>
															<li>90</li>
															<li>100</li>
														</ul>
													</div>
												</div> -->
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">天河区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="40" aria-valuemin="0"
															aria-valuemax="100" style="width: 40%">
															<div class="progress-number">40%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">花都区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="20" aria-valuemin="0"
															aria-valuemax="100" style="width: 20%">
															<div class="progress-number">20%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">南沙区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="5" aria-valuemin="0"
															aria-valuemax="100" style="width: 5%">
															<div class="progress-number">5%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">从化区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="5" aria-valuemin="0"
															aria-valuemax="100" style="width: 5%">
															<div class="progress-number">5%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">增城区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="5" aria-valuemin="0"
															aria-valuemax="100" style="width: 5%">
															<div class="progress-number">5%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">黄埔区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="5" aria-valuemin="0"
															aria-valuemax="100" style="width: 5%">
															<div class="progress-number">5%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">荔湾区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="5" aria-valuemin="0"
															aria-valuemax="100" style="width: 5%">
															<div class="progress-number">5%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">海珠区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="5" aria-valuemin="0"
															aria-valuemax="100" style="width: 5%">
															<div class="progress-number">5%</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
													<div class="progress-description">番禺区</div>
												</div>
												<div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
													<div class="progress">
														<div class="progress-bar progress-bar-green"
															role="progressbar" aria-valuenow="10" aria-valuemin="0"
															aria-valuemax="100" style="width: 10%">
															<div class="progress-number">10%</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="box box-solid">
							<div class="box-header with-border">
								<div class="box-title">经济指标分析</div>
							</div>
							<div class="box-body">
								<div id="parallel_nutrients" style="height: 590px;"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer th:include="@{include/footer}" class="main-footer text-center"></footer>
	</div>
	<script th:src="@{js/common.js}"></script>
	<!-- 该页面额外的js链接 -->
	<script th:src="@{js/outer-limit-economics.js}"></script>
</body>
</html>
